---
import data from "../../config/data.json" assert { type: "json" }; // You can make knip detect the log import by removing the assert or placing the json import after the TS import
import { log } from "../dependency";
log("layout loaded with data", data);
---

<h1>Hello World</h1>
